* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: burmese-028 !important;
  background-color: beige;
}

body > * {
  grid-column: 2;
}

pre {
  margin-top: 20px;
}

table,
td,
th {
  text-align: left;
}

th,
td {
  padding: 15px;
}

a {
  font-size: large;
}

h3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

h1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ti-download{
  font-size: larger;
  font-weight: bolder;
}

.ti-download:hover{
  cursor: pointer;
  color: indigo;
}

small{
  margin-top: 3px;
  color: grey;
}

hr{
  border: 1px solid gray;

}

/* .ti-brand-github-filled{
  font-size: larger;
  font-weight: bolder;
  color: rebeccapurple;
} */
